
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Word CRUD</title>
  <link rel="stylesheet" href="/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <!-- https://fonts.google.com/ -->
  <link rel="stylesheet" href="/css/toast.css">
    <link rel="stylesheet" href="/css/index.css">
 

</head>

<body>
  <header class="tm-header" id="tm-header">
   <div class="align-center"><h1 class="text-center">word CRUD</h1></div>
      
      <p class="">
        A simple CRUD web app
      </p>
    </div>
  </header>
  <div class="container-fluid">
    <main class="tm-main">
      <div class="toastInfo"> </div>
      {{{body}}}
      <footer class="row tm-row">
        <hr class="col-12">
        <div class="col-md-6 col-12 tm-color-gray">
          Design: <a rel="nofollow" target="_parent" href="/about" class="tm-external-link">Anurag Kushwaha</a>
        </div>
        <div class="col-md-6 col-12 tm-color-gray tm-copyright">
          Copyright 2022 by Anurag Kushwaha
        </div>
      </footer>
    </main>

  </div>
  <script defer src="/js/jquery.min.js"></script>
  <script defer src="/js/script.js"></script>
</body>

</html>