

  <div class="equal-wrap">
    <div class="formBox">
      <form action="/add" method="POST" class="wordForm">
        <input type="text" class="form-control" id="word" name="word" placeholder="Enter Anything"><br>
        <button type="submit" class="btn btn-primary mb-2">Add</button>

      </form>
    </div>
    <div class="formBox">
      <form action="/update" method="POST" class="wordForm">
        <input type="text" class="form-control" id="word" name="word" placeholder="Enter Anything"><br>
         <input type="text" class="form-control" id="newWord" name="newWord" placeholder="Enter Anything"><br>
        <button type="submit" class="btn btn-primary mb-2"> update</button>

      </form>
    </div>
    <div class="formBox">
      <form action="/delete" method="POST" class="wordForm">
        <input type="text" class="form-control" id="word" name="word" placeholder="Enter Anything"><br>
        <button type="submit" class="btn btn-primary mb-2"> Delete</button>

      </form>
    </div>
  </div>
 <h1 class="align-center"> Databse Word List </h1>
 <div class="wordResult" href="/delete">
 {{#each Words as |val key|}}
         <div class="word">   {{val.word}} <span class="cross"> </span></div>
 {{/each}}
 </div>
  